<div class="container mt-4">
  <form action="" class="p-4 border col-8 rounded-3">
    <div class="mb-3">
      <label for="cliente" class="form-label">Nombre Cliente: </label>
      <input type="text" id="cliente" class="form-control">
    </div>

    <div class="mb-3">
      <label for="titulo" class="form-label">Título: </label>
      <input type="text" id="titulo" class="form-control">
    </div>

    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción: </label>
      <input type="text" id="descripcion" class="form-control">
    </div>

    <div class="mb-3">
      <label for="categoria" class="form-label">Categoría: </label>
      <select id="categoria" class="form-select">
        <option value="" disabled selected>Selecciona categoría</option>
        <option value="log">log</option>
        <option value="warn">warn</option>
        <option value="error">error</option>
      </select>
    </div>

    <div class="mb-3">
      <label for="fecha" class="form-label">Fecha: </label>
      <input type="date" id="fecha" class="form-control">
    </div>

    <div class="mb-3 d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>

  </form>
</div>
