 <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()" class="p-4 border rounded-3 shadow-lg bg-white w-100" style="max-width: 600px;">
    <h2 class="text-center mb-4">Crear Evento</h2>

    <div class="mb-3">
      <label for="cliente" class="form-label">Nombre Cliente:</label>
      <input type="text" id="cliente" class="form-control" formControlName="nombreCliente">
      <div *ngIf="formulario.get('nombreCliente')?.invalid && formulario.get('nombreCliente')?.touched">
        <small *ngIf="formulario.get('nombreCliente')?.errors?.['required']" class="text-danger">El nombre es obligatorio.</small>
        <small *ngIf="formulario.get('nombreCliente')?.errors?.['minlength']" class="text-danger">Debe tener al menos 3 caracteres.</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="titulo" class="form-label">Título:</label>
      <input type="text" id="titulo" class="form-control" formControlName="titulo">
      <div *ngIf="formulario.get('titulo')?.invalid && formulario.get('titulo')?.touched">
        <small *ngIf="formulario.get('titulo')?.errors?.['required']" class="text-danger">El título es obligatorio.</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción:</label>
      <textarea id="descripcion" class="form-control" formControlName="descripcion" rows="3"></textarea>
    </div>

    <div class="mb-3">
      <label for="categoria" class="form-label">Categoría:</label>
      <select id="categoria" class="form-select" formControlName="categoria">
        <option value="" disabled selected>Selecciona categoría</option>
        <option value="log">Log</option>
        <option value="warn">Warn</option>
        <option value="error">Error</option>
      </select>
      <div *ngIf="formulario.get('categoria')?.invalid && formulario.get('categoria')?.touched">
        <small *ngIf="formulario.get('categoria')?.errors?.['required']" class="text-danger">La categoría es obligatoria.</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="fecha" class="form-label">Fecha:</label>
      <input type="date" id="fecha" class="form-control" formControlName="fecha">
      <div *ngIf="formulario.get('fecha')?.invalid && formulario.get('fecha')?.touched">
        <small *ngIf="formulario.get('fecha')?.errors?.['required']" class="text-danger">La fecha es obligatoria.</small>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">Enviar</button>
    </div>
  </form>
